.container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;

    @media only screen and (max-width: 655px) {
        height: 100%;
    }

    .blockContainer {
        margin: 20px;

        .blockUp {
            background-color: white;
            border-radius: 4px 4px 0px 0px;
            max-width: 640px;
            padding: 25px 60px 35px 30px;

            @media only screen and (max-width: 655px) {
                padding: 25px;
            }

            h1 {
                color: hsl(179, 62%, 42%);
                font-size: 20px;
                font-weight: bold;
            }

            h2 {
                color: var(--bright-yellow);
                margin-bottom: 15px;
                margin-top: 30px;
            }

            p {
                line-height: 27px;
                color: rgba(128, 128, 128, 0.76);
            }
        }

        .blockDown {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            @media only screen and (max-width: 655px) {
                flex-direction: column;
            }


            .blockDownLeft {
                background-color: hsl(179, 61%, 42%);
                border-radius: 0px 0px 0px 5px;
                padding: 30px 40px 34px 30px;
                width: 50%;

                @media only screen and (max-width: 655px) {
                    border-radius: 0px 0px 0px 0px;
                    padding: 25px;
                    width: 100%;
                }

                h3 {
                    color: white;
                    margin-bottom: 16px;
                }

                .blockDownLeft__price {
                    align-items: center;
                    color: rgba(255, 255, 255, 0.486);
                    gap: 10px;
                    display: flex;

                    span {
                        color: white;
                        font-size: 30px;
                        font-weight: 700;
                    }
                }

                .blockDownLeft__description {
                    color: white;
                    margin: 8px 0 43px 0;
                }

                button {
                    background-color: var(--bright-yellow);
                    box-shadow: 1px -1px 24px -7px rgba(0, 0, 0, 0.466);
                    color: white;
                    cursor: pointer;
                    border: 0px;
                    border-radius: 3px;
                    padding: 16px 0;
                    width: 100%;
                }
            }

            .blockDownRight {
                background-color: hsl(179, 64%, 49%);
                border-radius: 0px 0px 5px 0px;
                height: max-content;
                width: 50%;
                padding: 30px 40px 40px 30px;

                @media only screen and (max-width: 655px) {
                    border-radius: 0px 0px 5px 5px;
                    padding: 25px;
                    width: 100%;
                }

                h3 {
                    color: white;
                    margin-bottom: 18px;
                }

                p {
                    color: rgba(255, 255, 255, 0.644);
                    margin-bottom: 5px;
                    font-size: 15px;
                }
            }
        }
    }
}